<section class="hero">
  <div class="custom-container">
    <div class="hero__info">
      <p class="hero__text">All-in-One sofa</p>
      <h1 class="hero__title">Experience ultimate comfort with our modular sofas</h1>
      <a class="hero__btn" href="/collections/all">Order now</a>
    </div>
  </div>
</section>
